.button-4 {
  background-color: #ffffff;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  list-style: none;
  padding: 6px 16px;
  position: relative;

  transition: background-color 0.2s;
}

.button-4:hover {

  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:active {

  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

/* ///////////////////////// */







:root {
  --primary-bg: #242526;
  --secondary-bg: #fff;
  --primary-text-color: #555;
  --secondary-text-color: #cecece;
  --border-radius: 8px;
  --speed: 500ms;
}

body {
  margin: 0;

}

ul {
  list-style: none;
}

.kanban-board{
  box-sizing: border-box;
}

.board-container {
  height: 60px;
  width: 150px;
}

.dropdown-menu {
  position: absolute;
  top: 55px;
  left: 50px;
  background-color: #fff;
  border-radius: var(--border-radius);
  padding: 0px 20px;
  width: 250px;
  height: 85px;
}

.dropdown-menu.active {
  opacity: 1;
  z-index: 2;
  background-color: #fafcff;
  box-shadow: rgba(27, 31, 35, 0.4) 0 2px 4px, rgba(255, 255, 255, 0.8) 0 2px 4px inset;
  box-sizing: border-box;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
  width: 250px;
  height: 85px;
}

.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
  width: 250px;
  height: 85px;
}

h3 {

  text-align: center;
  font-size: 15px;
  padding: 5px 0;
  font-weight: 500;
  color: var(--primary-text-color);
  line-height: 0rem;
}

.dropdown-menu ul {
  margin: 0px;
  padding-left: 0px;
}

.dropdown-menu ul li {
  padding: 0px 0;
}

.dropdown-menu ul li {
  padding: 0px 0;

}


.dropdownItem {
  display: flex;
  margin: 0px 2px;
}


.board-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #F3F4F6;
  justify-content: center;
}